#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Note: Load this first for $DEB_BUILD_ARCH.
include /usr/share/dpkg/architecture.mk

# Note: _STRIP operations needs to be done before including buildflags.mk.
ifeq ($(DEB_BUILD_ARCH),loong64)
	# FIXME: -mlsx breaks build on LoongArch with GCC 12.
	export DEB_CFLAGS_MAINT_STRIP = -mlsx
	export DEB_CXXFLAGS_MAINT_STRIP = -mlsx
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_SHARED_LIBS=ON
